.DS_Store
allure-results/
allure-report
node_modules/
playwright-report/
productId.txt
test-results/
utils/price.txt
utils/setup-completed.lock
LoginAuth_buyer.json
LoginAuth_seller.json
locks/
.qodo/
.nyc_output
coverage
buyerProtectionBdValue.txt
chatProductName.txt
productDetailsProductName.txt
deliveryChargeBdValue.txt
productPriceBdValue.txt
promoBdValue.txt
subTotalBdValue.txt
thresholdPrice.txt
totalPayableValue.txt